

/*
Author: Xpeedstudio
Author URI: http://xpeedstudio.com
*/

/*==========================================
 01.  PREDIFINEED (FROM 1 TO 780 )
 02.  PRELOADER - LINE NO 786
 03.  NAVIGATION - LINE NO 930
 04.  HOME - LINE NO 1150
 05.  THU FEATURE - LINE NO 1280
 06.  THU FLIDE - LINE NO 1355
 07.  THU SERVICE - LINE NO 1385
 08.  PORTFOLIO - LINE NO 1444
 09.  THU SOLUTION - LINE NO 1620
 10.  THU TEAM - LINE NO 1658
 11.  THU CLIENTS FEEDBACK - LINE NO 1730
 12. THU BLOG - LINE NO 1848
 13. THU SUBCRIBS - LINE NO 1935
 14. FOOTER - LINE NO 2020
==========================================*/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    font-size: 14px;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width:100%;
    font-family: 'Open Sans', sans-serif;
}


/*------------------------------------------------------------------*/
/*   IE10 in Windows 8 and Windows Phone 8 Bug fix
/*-----------------------------------------------------------------*/

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

/*
    Page Content
------------------------------------------*/

.page-content, 
section { overflow: hidden; }

/*
    On Scroll Animations 
------------------------------------------*/

/*.animated { visibility: hidden; }
.visible { visibility: visible; }*/

/*
    Spacing & Alignment 
------------------------------------------*/

.roomy-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.roomy-80 {
    padding-top: 100px;
    padding-bottom: 80px;
}

.roomy-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.roomy-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.roomy-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.roomy-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}


/*text color*/

.text-muted{}
.text-primary{color: #fb8109 !important;;}
.text-finence{color:#13A0B2 !important;;}
.text-mega{color:#fb8109 !important;;}
.text-white{color:#fff !important;;}
.text-black{color:#000 !important;}
.text-warning{}
.text-danger{}
.disabled{
    cursor: not-allowed;
}

/*bacground color*/
.lightbg {
    background-color: #f2f2f2;
}
.bg-primary{background-color: #323a45;}
.bg-finence{background-color:#13A0B2;}
.bg-mega{background-color:#1b1b1b;}
.bg-grey{background-color: #f5f5f5;}
.bg-black{background-color: #222222;}
.bg-white{background-color: #fff;}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -user-select: none;
    -webkit-user-drag: none;
    -user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
a {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: inherit;
    background-color: transparent;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    /*    direction: rtl;*/
}

p {
    margin: 0 0 15px;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent;
    background-image: none;
    color: rgb(0, 0, 0);
}

.form-control{
    border-radius: 0px;
    border:1px solid #ccc;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    width: 100%;
    height: 50px;
}

.form-control:focus {
    border-color: #bcefeb;
    outline: 0;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color:#1a1a1a;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
}
h2 {
    font-size: 28px;
    line-height: 3rem;
}
h3 {
    font-size: 1.500rem;
    line-height: 2rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
h5 {
    font-size: 1.125rem;
    line-height: 1.575rem
}
h6 {
    font-size: 1rem;
}



h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
p span{
    color:#fb8109;
}

p, .head_title h5, .ul_1 li{
   letter-spacing: 1.2px;
    line-height: 2rem;
    color: #333;
    font-size: 14px !important;
}
p:last-child {
    margin-bottom: 0px;
}
/*colors*/
.w100 {
    font-weight: 100;
}

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.w800 {
    font-weight: 800;
}


/*
Section
*/

.parallax-section {
    max-width: 100%;
    color: #ffffff;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

/*all overlay*/

.overlay {
    background-color: rgba(41, 39, 34, 0.50);
    width: 100%;
    height:100%;
    position: absolute;
    left:0;
    top: 0;
}


.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.left-no-padding {
    padding-left: 0 !important;
}
.right-no-padding {
    padding-right: 0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}


/*
Separator
*/
.separator_left{
    width:85px;
    height:2px;
    margin:20px 0px;
    background: #fb8109;
}
.separator_auto{
    width:85px;
    height:2px;
    margin:20px auto;
    background: #fb8109;
}
.separator_small{
    width:30px;
    height:2px;
    margin:20px 0px;
    background: #fb8109;
}

/*
Button
*/
.btn{
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    font-size:18px;
    font-weight: 600;
    border:1px solid;
    padding: 10px 30px;
}
.btn-primary {
    color: #fff;
    background-color: #fb8109;
    border: 1px solid;
    border-radius: 50px;
    border-color: #fb8109;
}
.btn-primary:hover{
    background-color: #eee;
    border-color: #eee;
    color:#fb8109;
}

.btn-default{
    color: #fff;
    background-color: #fb8109;
    border:1px solid;
    border-color: #b6b6b6;
}
.btn-default:hover{
    color: #fff;
    background-color: #fb8109;
    border-color: #fb8109;
}

/*.btn-danger{
    color: #fff;
    background-color: #fb8109;
    border:1px solid;
    border-color: #fb8109;
    padding: 1rem 2rem;
}

.btn-danger:hover{
    color: #fb8109;
    background-color: #eee;
    border-color: #eee;
}*/



/*
socail icon
--------------------------------*/
/*
Extra height css
*/
.m-0{
    margin:0 !important;
}
.m-top-0{
    margin-top:0;
}
.m-r-0{
    margin-right: 0;
}
.m-l-0{
    margin-left: 0;
}
.m-b-0{
    margin-bottom: 0;
}

.m-r-15{
    margin-right: 15px;
}
.m-l-15{
    margin-left: 15px; 
}
.m-top-10 {
    margin-top: 10px;
}
.m-top-20 {
    margin-top: 20px;
}
.m-top-30 {
    margin-top: 30px;
}
.m-top-40 {
    margin-top: 40px;
}
.m-top-50 {
    margin-top: 50px;
}
.m-top-60 {
    margin-top: 60px;
}
.m-top-70 {
    margin-top: 70px;
}
.m-top-80 {
    margin-top: 80px;
}
.m-top-90 {
    margin-top: 90px;
}
.m-top-100 {
    margin-top: 100px;
}
.m-top-110 {
    margin-top: 110px;
}
.m-top-120 {
    margin-top: 120px;
}

.m-t-b-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.m-t-b-120 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.m-bottom-10 {
    margin-top: 10px;
}

.m-bottom-20 {
    margin-bottom: 20px;
}
.m-bottom-30 {
    margin-bottom: 30px;
}

.m-bottom-40 {
    margin-bottom: 40px;
}

.m-bottom-60 {
    margin-bottom: 60px;
}

.m-bottom-70 {
    margin-bottom: 70px;
}

.m-bottom-80 {
    margin-bottom: 80px;
}

.m-bottom-90 {
    margin-bottom: 90px;
}

.m-bottom-100 {
    margin-bottom: 100px;
}

.m-bottom-110 {
    margin-bottom: 110px;
}

.m-bottom-120 {
    margin-bottom: 120px;
}

.m_t__b{
    margin: 14rem 0;
}
.p_t__b{
    padding: 6rem 0;
}

p-0{
    padding:0 !important;
}

.p-l-15{
    padding-left: 15px;
}

.p-r-15{
    padding-right: 15px;
}

.p-top-10 {
    padding-top: 10px;
}
.p-top-20 {
    padding-top: 1.33rem;
}

.p-bottom-20 {
    padding-bottom: 1.33rem;
}

.p-top-30 {
    padding-top: 1.875rem;
}

.p-bottom-30 {
    padding-bottom: 1.875rem;
}

.p-top-40 {
    padding-top: 2.66rem;
}

.p-bottom-40 {
    padding-bottom: 2.66rem;
}

.p-top-60 {
    padding-top: 5rem;
}

.p-bottom-60 {
    padding-bottom: 5rem;
}

.p-top-80 {
    padding-top: 5.714rem;
}

.p-bottom-80 {
    padding-bottom: 5.714rem;
}

.p-top-90 {
    padding-top: 6.429rem;
}

.p-bottom-90 {
    padding-bottom: 6.429rem;
}
.p-top-100 {
    padding-top: 100px;
}

.p-bottom-100 {
    padding-bottom: 100px;
}
.p-top-110 {
    padding-top: 110px;
}

.p-bottom-110 {
    padding-bottom: 110px;
}

.p-bottom-0 {
    padding-bottom: 0;
}

.p_l_r{
    padding-left: 5.714rem;
    padding-right: 5.714rem;
}

/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}

/*border*/
.no-border-top{
    border-top:0px solid transparent !important;
}
.no-border-rigth{
    border-right:0px solid transparent !important;
}

/*for placeholder changes*/

input[type="email"].form-control::-webkit-input-placeholder {
    color: #fff;
    background-color: transparent;
}

input::-webkit-input-placeholder {
    color: #cdcdcd;
    font-style:italic;
}

input::-moz-placeholder {
    color: #cdcdcd;
    font-style:italic;
}

input:-ms-input-placeholder {
    color: #cdcdcd;
    font-style:italic;
}

input::placeholder {
    color: #cdcdcd;
    font-style:italic;
}
input::-webkit-input-placeholder {
    color: #cdcdcd;
    font-style:italic;
}
input::-moz-placeholder {
    color: #cdcdcd;
    font-style:italic;
}
input::-ms-input-placeholder {
    color: #cdcdcd;
    font-style:italic;
}
textarea::-webkit-input-placeholder{
    color: #cdcdcd;
    font-style:italic;
    padding: 5px;
}
textarea::-moz-input-placeholder{
    color: #cdcdcd;
    font-style:italic;
    padding: 5px;
}
textarea::-ms-input-placeholder{
    color: #cdcdcd;
    font-style:italic;
    padding: 5px;
}

/*for image bg*/
/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
  background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/


.transform_scal_rotate:hover img{ 
    -webkit-transform: scale(1.1) rotate(4deg); 
    transform: scale(1.1) rotate(4deg); 
}

.culmn{
    width:100%;
    overflow: hidden;
}
.fix{
    overflow: hidden;
}
/*heading title all area*/
.head_title{
    overflow: hidden;
}
.head_title h2 {
    font-weight: 400;
    font-size: 32px;
    color: #333;
}
.head_title h5{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: #999999;
}

/*End off pridifain css*/



/*Preloader*/
#loading{
    background-color: #fb8109;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    left:0;
    z-index: 9999;
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); 
    -webkit-animation: loading-center-absolute 1.5s infinite;
    animation: loading-center-absolute 1.5s infinite;

}
.object{
    width: 25px;
    height: 25px;
    background-color: #FFF;
    float: left;

}


#object_one {
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}
#object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
}
#object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
}
#object_four {
    -webkit-animation: object_four 1.5s infinite;
    animation: object_four 1.5s infinite;
}


@-webkit-keyframes loading-center-absolute {
    100% { -webkit-transform: rotate(-45deg); }

}

@keyframes loading-center-absolute {
    100% { 
        transform:  rotate(-45deg);
        -webkit-transform:  rotate(-45deg);
    }
}



@-webkit-keyframes object_one {
    25% { -webkit-transform: translate(0,-50px) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }

}

@keyframes object_one {
    25% { 
        transform: translate(0,-50px) rotate(-180deg);
        -webkit-transform: translate(0,-50px) rotate(-180deg);
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}


@-webkit-keyframes object_two {
    25% { -webkit-transform: translate(50px,0) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_two {
    25% { 
        transform: translate(50px,0) rotate(-180deg);
        -webkit-transform: translate(50px,0) rotate(-180deg);
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}

@-webkit-keyframes object_three {
    25% { -webkit-transform: translate(-50px,0) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_three {
    25% { 
        transform:  translate(-50px,0) rotate(-180deg);
        -webkit-transform:  translate(-50px,0) rotate(-180deg);
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: rtranslate(0,0) rotate(-180deg);
    }
}


@-webkit-keyframes object_four {
    25% { -webkit-transform: translate(0,50px) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_four {
    25% { 
        transform: translate(0,50px) rotate(-180deg); 
        -webkit-transform: translate(0,50px) rotate(-180deg);  
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}
/*End off Preloader*/


/*
Nav Menu style
==================*/

.navbar-brand {
    padding: 20px 15px;
}
.navbar-brand > img {
    display: block;
    width: 80%;
}

.navbar-callus li a{
    font-size:14px;
    padding: 10px;
    color:#444444;
    display: inline-block;
}
.navbar-callus li a i{
    font-size:13px;
    color:#fb8109;
    margin-right: 5px;
}
.navbar-socail li a{
    font-size:16px;
    padding: 10px;
    color:#aaaaaa;
    display: inline-block;
}
.navbar-socail li a:hover{
    background-color: #3765a3;
    color:#fff;
}


/*
Home Section style
==================*/

.home{
        background: url(../images/home-bg.jpg) no-repeat;
    background-size: auto;
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-bottom: 190px;
    width: 100%;
}
.img_mobile{
    margin-top: 80px;
    padding-bottom: 20px;
}
/*
.home_mobile{
        background: url(../images/home-bg.jpg) no-repeat;
    background-size: auto;
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-bottom: 190px;
    width: 100%;
}
*/
.main_home .home_text h2{
    font-size:36px;
    font-weight: 400;
}
.main_home .home_text h1 {
    font-size: 52px;
    font-weight: 400;
    color: #fff;
}
.main_home .home_text h3{
    font-size:24px;
    font-weight: 400;
}
.main_home .slick-dots li button::before {
   font-family: 'Open Sans', sans-serif;
    font-size: 8px;
    line-height: 7px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    content: "";
    text-align: center;
    opacity: 0.9;
    color: white;
    border:1px solid #fff;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}
.main_home .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
}
.main_home .slick-dots li.slick-active button:before{
    opacity: 1;
    background-color: #fb8109;
}
.main_home .slick-dots{
    bottom: -200px;
}

.work_container .slick-arrow ,
.main_home .slick-arrow{
    font-size:3rem;
    color:#fff;
    top:30%;
    position: absolute;
    z-index: 90;
    cursor: pointer;  
}
.main_home .nextprevleft{
    left:-3%;
}
.main_home .nextprevright{
    right:-3%;
}
.home_btns {
    margin-left: 780px;
    margin-top: 260px;
}
.home_btns a{
    margin-left:10px;
}


/*
Featured section style
========================*/

.features_item .f_item_icon {
    text-align: center !important;
    margin-right: 0px;
}
.features_item .f_item_icon i{
    border-radius: 3px;
    font-size: 4rem;
    color: #fb8109;
    border: 1px #fb8109 solid;
    padding: 10px;
}
.features_item .f_item_text{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 24px;
}
.f_item_text h3{
    font-weight: 600;
    color: #05568b;
}
.features_item .f_item_text p{
    font-size:14px;
}

/*Business Section*/
.main_business{}
.business_item {
    padding-bottom: 60px;
}
.business_item h2{
    font-size:26px;
    font-weight: 600;
}
.business_item li{
    font-size:18px;
    font-weight: 300;
    line-height: 2rem;
}
.business_item li i{
    font-size:12px;
    margin-right: 5px;

}
.business_item p{
    color:#333333;
    line-height: 2rem;
    font-size:14px;
    font-weight: 500;
}
.business_item .business_btn{
    margin-left:-10px;
}
.business_item .business_btn a{
    margin-left:10px;
}
.business_item .business_btn .btn-default{
    color:#444444;
}


.slid_shap{
    height: 40px;
    border-radius: 4px 4px 0px 0px;
    width:100%;
}
.business_slid {
    box-shadow: 0px 0px 8px -1px;
    border-radius: 4px 4px 0px 0px;
}

.business_slid .business_items{
    background-color: #fff;
    margin: 0;
}

.business_slid .slick-arrow{
    position: absolute;
    top:29%;
    z-index: 1;
    cursor:pointer;
    width:30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size:20px;
    transition: all 0.6s;
    color:#fff;
}
.business_slid .nextprevleft{
    left:5.9%;
}
.business_slid .nextprevright{
    right:6%;
}
.business_slid .nextprevleft:hover,
.business_slid .nextprevright:hover{
/*    width:25px;
    height: 25px;
    line-height: 25px;*/
    /*text-align: center;*/
    background-color: #ddd;
    border-radius: 50%;
}

.business_slid .slick-dots {
    position: absolute;
    top: -36px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}



/*
work Section style
=====================*/

/*.slides{
    width:100%;
    height: auto;
}*/
/*#owl-demo .item{
    width:350px;
    height:350px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: 300px;
}*/



.main_product .carousel-control{
    background-color: #fff;
    color:#333;
    border-radius: 50%;
    width:50px;
    height: 50px;
    line-height: 50px;
    font-size:1rem;
    text-align: center;
    top:30%;
}
.main_product .carousel-control:hover{
    background-color: #fb8109;
    color:#fff;
}
.main_product .carousel-control.left{
    left:-1.4%;
    box-shadow: -1px 0px 0px 0px;
}
.main_product .carousel-control.right {
    right:-1.4%;
    box-shadow: 1px 0px 0px 0px;
}

.main_product .port_img{
    position: relative;
    overflow: hidden;
}

.main_product .port_img img{
    width:100%;
}
.main_product .port_overlay{
    width:100%;
    height: 100%;
    background-color: rgba(0,168,133,0.60);
    position: absolute;
    left:0;
    top:0;
    padding-top: 35%;
    opacity: 0;
    transition: all 0.2s;
}
.main_product .port_overlay a{
    width:40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    color:#fff;
    border:1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    font-size:2rem;
    bottom: -150px;
    position: relative;
}
.main_product .port_img:hover .port_overlay a{
    bottom:0;
}
.main_product .port_img:hover .port_overlay{
    opacity: 1;
}




/*Test Section
======================*/
.main_test{
    width: 100%;
    display: block;
}
.test_item{
    border:1px solid #ddd;
    background-color: #fff;
    padding: 40px;
}
.test_item1{
    padding: 40px;
    border: 1px #ddd solid;
}
.main_test .item_img{
    float: left;
    display: inline-block;
    width:20%;
    margin-right: 10%;
}
.main_test .item_text{
    display: inline-block;
    width:70%;
}
.item_img{
    position: relative;
}
.item_img i{
    position: absolute;
    right: -25%;
    top: 110%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #fb8109;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}
.test_item1 .item_img i{
    background-color: #fff;
    color: #ddd; 
}

/*Brand Section
=========================*/
.brand_item img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 0.6s;
    height: 50px;
}
.brand_item img:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}




/*call to action
=========================*/

.action_btn .btn-default:hover{
    background-color: #fff;
    color:#fb8109;
}
.action_btn .btn-default:active{
    background-color: #fff;
    color:#fb8109;
    border: #fff;
}
.action_btn .btn-default:focus{
    background-color: #fff;
    color:#fb8109;
    border: #fff;
}
.action-lage{
    position: relative;
    width:100%;

}
/*.action-lage:before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #fb8109;
    left:50%;
    top:0%;
    z-index: 3;
    margin-left:-15px;

}*/



/*Footer section*/
.divider{
    width:100%;
    height: 1px;
    background-color: #434769;
    display: inline-block;
}
.widget_ab_item_text h6{
    margin-bottom:5px;
    color: #fb8109 !important;
}
.widget_item h5{
    font-weight: 700;
}
.widget_item .btn:hover{
    background-color: #0ec9a2;
}
.widget_latst_item_text p{
    margin-bottom: 0px;
    color:#aaaaaa;
}
.widget_service li i,
.widget_latst_item_text a{
    font-size:12px;
    color:#aaaaaa;
}
.widget_service li i{
    margin-right: 5px;
}
.widget_service li{
    font-size:13px;
    border-bottom: 1px dashed #aaa;
    padding-bottom: 10px;
}
.widget_newsletter li a:hover i,
.widget_latst_item_text:hover p,
.widget_service li:hover,
.widget_service li:hover i{
    color:#fff;
}

.widget_ab_item .item_icon,
.widget_latst_item .item_icon{
    float: left;
    width: 20%;
    display: inline-block;
    margin-right: 15px;
}
.widget_ab_item .widget_ab_item_text,
.widget_latst_item .widget_latst_item_text {
    display: inline-block;
    width: 70%;
}
.widget_ab_item .item_icon{
    float: left;
    width: 10%;
    display: inline-block;
    margin-right: 15px;
}
.widget_ab_item .widget_ab_item_text {
    display: inline-block;
    width: 80%;
}
.widget_newsletter .form-inline .form-group{
    display: block;
}
.widget_newsletter .form-control{
    width:80%;
    height: 40px;
    background-color: #1a1a1a;
    border-color:#333333;
    display: inline-block;
}
.widget_newsletter .btn{
    width: 20%;
    padding: 0.65rem 1.2rem;
    background-color: #fb8109;
    border-color:#fb8109;
    color:#fff;
    border-radius: 0;
    margin-left:-4px;
    display: inline-block;
}
.widget_brand a{
    font-size:30px;
    font-weight: 800;
    color:#aaa;
}
.widget_newsletter li a i{
    color:#aaa;
}


.main_footer i {
    padding: 0px 5px;
    color: #fb8109;
}
.main_home{
    padding-top: 0px; 
    padding-bottom: 0px; 
}
.heading, .heading-solid-icon div, .heading-dotted-icon div, .heading-dashed-icon div, .heading-solid-icon div div, .heading-dotted-icon div div, .heading-dashed-icon div div, .heading-double-icon div, .heading-double-icon div div {
    border-top-color: #fb8109 !important;
    color: #fb8109;
}

.heading-solid {
    border-bottom-style: solid;
}
.heading-solid, .heading-dotted, .heading-dashed, .heading-double {
    width: 50px;
    border-bottom-width: 3px;
}
.heading {
    height: 20px;
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    opacity: 1 !important;
}
.fmc{
    width: 80%;
    background: transparent;
    border-bottom: 1px #fff solid !important;
    border: 0;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
}
.vb{
        top: 30px;
    position: relative;
}
.input-md {
    height: 40px;
    padding: 4px 10px;
    font-size: 14px;
}
.positioned{
    padding-top: 60px;
}
.formss{
    padding-top: 60px;
    padding-bottom: 60px;
}
.paddt20{
    padding-top: 20px;
}
.bg_c{
    background: #f1f1f1;
}
.ico_left{
    display: inline-flex;
    float: right;
}
.ico_right{
    display: inline-flex;
    float: left;
}
.ico_text_left p{
    text-align: right;
}
.ico_text_right p{
    text-align: left;
}
.ico_text{
 margin-top: 10px;   
}
.pr10{
    padding-right: 10px;
}
.pl10{
    padding-left: 10px;
}
.mobile_sec{
    padding-top: 20px;
}
.w100{
    width: 100%;
    padding: 20px
}
.icon_text_right{
        padding-top: 30px;
}
.icon_text_left{
        padding-top: 30px;
}
.ico_right h3{
        margin-top: 12px;
    color: #0d5a8d;
    font-weight: 600;
}
.ico_left h3{
        margin-top: 12px;
    color: #0d5a8d;
    font-weight: 600;
}
.img_sec_1 {
    -webkit-box-shadow: 10px 10px 130px -24px rgba(0,0,0,0.46);
    -moz-box-shadow: 10px 10px 130px -24px rgba(0,0,0,0.46);
    box-shadow: 10px 10px 130px -24px rgba(165, 165, 165, 0.35);
    border: 15px #f3f3f3 solid;
    border-radius: 8px;
}
.col-text-1 h2, .col-text-1 h4{
   color: #0d5a8d; 
}
.ul_1{
    padding-left: 20px;
}
.svg_text{
    font-size: 120%; 
    font-weight: 400;   
}
.svg_year{
    font-size: 250%;
    font-weight: 300;
}
.sec_padd-t{
    padding-top: 80px;
}
.mar0{
    margin: 0;
    padding: 0;
}
.ftr {
    color: #fff;
}
.ftr-img {
    margin-left: -30px;
}
nav.navbar.bootsnav ul.nav > li > a:hover {
    color: #ffffff !important;
    background: #fb8109 !important;
}
nav.navbar.bootsnav ul.nav > li > a:focus {
    color: #ffffff !important;
    background: #fb8109 !important;
} 
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:visited {
    color: #ffffff !important;
    text-decoration: none;
    background-color: #fb8109 !important;
}

    @media (min-width: 1024px){
nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a {
    text-align: left;
}
}
.f_a{
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}
.f_a:hover{
    font-size: 14px;
    color: #fb8109;
    font-weight: 500;
}
.iott{
    display: inline-grid;
}
.iott h3{
        color: #fff;
    font-size: 71px;
    position: relative;
    left: 410px;
    top: -180px;
}
        .active{
            background-color:#fb8109;
        }
         .active:hover {
            color: #6f6f6f;
             background-color:#fb8109;
        }
nav.navbar.bootsnav ul.nav > li > a {
    color: #6f6f6f;
    background-color: transparent !important;
    text-transform: uppercase;
    padding: 30px 12px;
}
@media only screen and (min-width: 426px) and (max-width: 33425px){ 
    .home_banner{
        display: none;
    }
    
}
    .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

@media only screen and (min-width: 280px) and (max-width: 370px){ 
    .navbar-brand {
    padding: 20px 14px;
}   
}
@media only screen and (min-width: 0px) and (max-width: 320px){ 
.navbar-brand {
    margin-top: -25px;
    padding: 2px 15px;
}
    nav.navbar.bootsnav .navbar-toggle {
    top: 20px;
}
    .navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
    .home{
        display: none;
    }
     .head_title h2 {
    font-weight: 400;
    font-size: 18px;    
    color: #333;
}
    p, .head_title h5, .ul_1 li {
    font-size: 12px !important;
    padding: 10px;
}
    .roomy-70 {
    padding-top: 20px;
    padding-bottom: 40px;
}
    .col-text-1{
        margin-top: 30px;
        margin-bottom: 30px;
    }
#svgLine {
    height: 70px;
}
    .fmc {
        width: 100%;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    #contact-form{
        padding: 20px;
    }
    .formss {
        padding-top: 20px;
        padding-bottom: 20px;
}
    .roomy-80 {
    padding-top: 30px;
    padding-bottom: 20px;
}
    .inner_banner{
       margin-top: 80px;
    height: auto;
}
    .sec-padding{
        padding:  10px !important;
    }
}
@media only screen and (min-width: 321px) and (max-width: 425px){ 
.navbar-brand {
    padding: 18px 15px;
}
    nav.navbar.bootsnav .navbar-toggle {
    top: 20px;
}
    .navbar-collapse {
        margin-top: 20px;
    }
    .navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
      .home{
        display: none;
    }
    .head_title h2 {
    font-weight: 400;
    font-size: 22px;
    color: #333;
}
    .roomy-70 {
    padding-top: 20px;
    padding-bottom: 40px;
}
    .col-text-1{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #svgLine{
        height: 100px;   
    }
    .fmc {
        width: 100%;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    #contact-form{
        padding: 20px;
    }
    .formss {
        padding-top: 20px;
        padding-bottom: 20px;
}
    .roomy-80 {
    padding-top: 30px;
    padding-bottom: 20px;
}
    .inner_banner{
       margin-top: 80px;
    height: auto;
}
        .sec-padding{
        padding:  10px !important;
    }
}

/*
@media (min-width: 768px){
.navbar-toggle {
    display: block !important;
        right: 0;
    position: fixed !important;
}
    .navbar-brand {
    padding: 2px 15px;
}
}
@media (min-width: 768px){
    .navbar-right {
        display: none;
        
    }
}
*/

@media only screen and (min-width: 426px) and (max-width: 767px){
.navbar-brand {
    padding: 2px 15px;
}
    .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}
    .home {
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: 100% auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 100%;
}
    .main_home {
    padding-top: 0px;
    padding-bottom: 0px;
}
    .w100 {
    width: 50%;
    padding: 20px;
    margin-left: 160px;
}
    #svgLine{
        height: 200px;
    }
    .fmc {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
    #contact-form{
        padding: 20px;
    }
    .widget_ab_item .item_icon {
    float: left;
    width: 3%;
    display: inline-block;
    margin-right: 15px;
}
    .inner_banner{
        margin-top: 80px;
    height: auto;
}
        .sec-padding{
        padding:  30px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
.navbar-brand {
    padding: 10px 15px;
}
.navbar-nav {
    margin: 0px -15px !important;
}
.navbar-brand {
    padding: 25px 15px;
}
.navbar-brand {
    float: left;
    height: auto;
   
    font-size: 18px;
    width: 211px;
    line-height: 20px;
}
    .nav > li > a {
    position: relative;
    display: block;
    padding: 20px 10px;
}
    .home {
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: 100% auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 100%;
}
    .home_btns {
    margin-left: 320px;
}
    .home_btns {
    margin-left: 420px;
    padding-top: 120px;
    padding-bottom: 120px;
}   
    .head_title {
    overflow: hidden;
    margin-top: 50px;
}   
    .roomy-70 {
    padding-top: 40px;
    padding-bottom: 40px;
}
    .main_home .home_text h1 {
    font-size: 24px !important;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
}
    .home_btns a {
    margin-left: 10px;
    margin-top: auto;
}
    .main_home {
    padding-top: 0px;
    padding-bottom: 0px;
}
    .w100 {
    width: 50%;
    padding: 20px;
    margin-left: 160px;
}
        .col-text-1{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #svgLine{
        height: 200px;
    }
    .fmc {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
    #contact-form{
        padding: 20px;
    }
    .widget_ab_item .item_icon {
    float: left;
    width: 3%;
    display: inline-block;
    margin-right: 15px;
}
    .inner_banner{
       margin-top: 80px;
    height: auto;
}
        .sec-padding{
        padding:  30px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1249px){ 
.navbar-brand {
    padding: 10px 15px;
}
.navbar-nav {
    margin: 0px -25px !important;
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 20px 15px;
    font-size: 18px;
    width: 260px;
    line-height: 20px;
}
    .nav > li > a {
    position: relative;
    display: block;
    padding: 20px 10px;
}
    .home {
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: 100% auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 100%;
}
    .main_home {
    padding-top: 0px;
    padding-bottom: 0px;
}
.main_home .home_text h1 {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    line-height: 1;
    padding-top: 0px;
    padding-bottom: 0px;
}
    .home_btns {
    margin-left: 610px;
    padding-top: 170px;
    padding-bottom: 170px;
}
    .w100 {
    width: 100%;
    padding: 20px;
    margin-top: 110px;
}
    .ico_left h3 {
    margin-top: 12px;
    color: #0d5a8d;
    font-weight: 600;
    font-size: 18px;
}
    .ico_right h3 {
    margin-top: 12px;
    color: #0d5a8d;
    font-weight: 600;
    font-size: 18px;
}
    .f_item_text h3 {
    font-weight: 600;
    color: #05568b;
    font-size: 16px;
}
    .head_title {
    overflow: hidden;
    margin-top: 30px;
}
    #svgLine{
        height: 200px;
    }
    .fmc {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
    #contact-form{
        padding: 20px;
    }
    .widget_ab_item .item_icon {
    float: left;
    width: 3%;
    display: inline-block;
    margin-right: 15px;
}
    .inner_banner{
        margin-top: 80px;
    height: auto;
}
        .sec-padding{
        padding:  30px !important;
    }
}
@media only screen and (min-width: 1250px) and (max-width: 1999px){ 
    
}
.inner_banner{
      width: 100%;
    margin-top: 80px;
}
.active a{
    color: #fff !important;
}
.single-blog {
    margin-top: 40px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border: 1px #ddd solid;
}
.single-blog:hover {
    box-shadow: 0 3px 7px 5px #f6f6f6;
}
.blog-img {
    position: relative;
}

.blog-img img {
    width: 100%;
}
.blog-img span {
    background: #f0f0f0 none repeat scroll 0 0;
    border-radius: 4px;
    bottom: -27px;
    color: #000000;
    font-family: "Roboto Slab";
    height: 60px;
    left: 8px;
    line-height: 29px;
    position: absolute;
    text-align: center;
    -webkit-transform: translateZ(27px) translateX(8px);
    transform: translateZ(27px) translateX(8px);
    width: 90px;
}
.blog-text {
    color: #7b7b7b;
    margin-top: 58px;
    padding: 0 35px 30px 10px;
}
.single-blog:hover .blog-text h4 {
    color: #fc6926;
}

.blog-social {
    display: block;
    margin-top: 18px;
}

.blog-text a.blog-readmore {
    color: #000000;
    font-size: 16px;
    text-decoration: underline;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.blog-text h4 {
    font-size: 19px;
    margin-bottom: 20px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.blog-social span.blog-comment {
    color: #7b7b7b;
    font-weight: 300;
    margin-left: 60px;
}
.blog-social span.blog-like i, .blog-social span.blog-comment i {
    color: #444444;
    margin-right: 10px;
}
.zmdi-comment:before {
    content: '\f265';
}
.blog-social span.blog-like {
    color: #7b7b7b;
    font-weight: 300;
    margin-left: 22px;
}
.blog-social span.blog-like i, .blog-social span.blog-comment i {
    color: #444444;
    margin-right: 10px;
}
.single-blog-left-top h3 {
    font-size: 26px;
    margin-top: 23px;
}
.single-blog-left-top span {
    color: #7b7b7b;
    font-size: 16px;
}
.single-blog-left-top span i {
    color: #fc6926;
    font-size: 16px;
    margin-right: 8px;
}
.single-blog-left-top span.alarm-meta {
    margin-left: 15px;
}


.single-blog-top-text {
    border-bottom: 1px solid #dfdddd;
    color: #7b7b7b;
    margin-top: 30px;
    padding-bottom: 50px;
}
.single-blog-top-text span {
    display: inline-block;
    margin: 10px 0 20px 40px;
    position: relative;
    font-size: 22px;
    color: #f68918;
    border-left: 4px #f68919 solid;
    padding-left: 20px;
}
.single-blog-left-social-icon {
    margin-bottom: 80px;
    margin-top: 15px;
}
.single-blog-left-social-icon span {
    color: #050505;
    font-size: 16px;
    margin-right: 18px;
}
.single-blog-left-social-icon a {
    color: #050505;
    font-size: 16px;
    margin-right: 10px;
}
.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.single-blog-contact {
    margin-top: 70px;
}
.single-blog-right-serach input[type="text"] {
    border: 1px solid #e1e1e1;
    font-size: 16px;
    line-height: 45px;
    padding-left: 15px;
    position: relative;
    width: 100%;
}
.serch-icon {
    color: #737373;
    font-size: 16px;
    position: absolute;
    right: 32px;
    top: 12px;
}
.single-blog-right-category {
    border: 1px solid #e0dfdf;
    margin-top: 30px;
}
.single-blog-right-category h3 {
    color: #141211;
    font-size: 25px;
    margin: 0;
    padding: 48px 0;
    text-align: center;
}
.single-blog-right-category ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.single-blog-right-category li a {
    border-top: 1px solid #cecece;
    color: #666666;
    display: block;
    line-height: 48px;
    margin: 0 5px;
    padding-left: 20px;
}
.single-blog-right-category li a span {
    float: right;
    margin-right: 20px;
}
.single-blog-news-letter {
    border: 1px solid #e0dfdf;
    color: #7b7b7b;
    margin-top: 60px;
    padding: 40px 30px;
    text-align: left;
}
.single-blog-news-letter h3 {
    color: #141211;
    font-size: 25px;
    margin-bottom: 32px;
}
.single-blog-news-letter input[type="text"] {
    line-height: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 13px;
    width: 100%;
}
.single-blog-news-letter button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #fc6926;
    border-radius: 3px;
    color: #070707;
    font-size: 16px;
    line-height: 46px;
    padding: 0 37px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.single-recent-post {
    border: 1px solid #e0dfdf;
    margin-top: 50px;
    padding: 20px 20px 10px 20px;
}
.single-recent-post h3 {
    color: #141211;
    margin-bottom: 40px;
    text-align: left;
}
.single-recent-items {
    display: inline-block;
    margin-bottom: 30px;
}
.single-recent-items img {
    float: left;
}
.single-post-content {
    color: #666666;
    display: inline-block;
    margin-left: 14px;
    margin-top: 13px;
}
.single-post-content h5 {
    color: #141211;
    font-size: 15px;
    margin-bottom: 10px;
    -webkit-transition: .4s;
    transition: .4s;
}
.blog-text .btn{
    margin-top: 20px;
}

    @media (min-width: 1024px){
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a {
    padding: 10px 15px;
    border-bottom: solid 1px #eee;
    color: #6f6f6f !important;
}
}
    @media (min-width: 1024px){
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover {
    padding: 10px 15px;
    border-bottom: solid 1px #eee;
    color: #fff !important;
}
}
.blog-text-c {
    color: #7b7b7b;
    margin-top: 36px;
    padding: 0 30px 30px 30px;
}
.job_sec{
        padding: 20px;
    border: 1px #ddd solid;
    margin-top: 30px;
}
.hrs{
    color: #ddd;
    border-top: 1px #ddd solid;
    padding: 10px;
    margin-top: 10px;
}
.job_sec_p{
    margin-bottom: 30px;
}
.bg_c1 {
    background: #f1f1f1;
    height: 270px;
}
.c{
        margin-top: 50px;
}
.btn_sub1{
    background-color: #fb8109;
    color: #fff;
    margin-left: 15px;     
}
.section_padd{
    padding-top: 60px;
    padding-bottom: 60px;
}
.hea_1{
    padding-top: 10px;
}
.hea_12{
    padding-top: 30px;
    padding-bottom: 30px;
}
.hea_1 h5{
    text-transform: uppercase;
    background-color: transparent;
    position: relative;
    color: #E05555;
    font-family: raleway, sans-serif;
    min-height: 15px;
    line-height: 14px;
    text-align: center !important;
    z-index: 884;
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
}
.hea_1 h2{
        text-transform: uppercase;
    background-color: transparent;
    position: relative;
    color: #3E4451;
    font-family: raleway, sans-serif;
    text-align: center;
    z-index: 876;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 30px;
}
.hea_1 p{
        color: #676A72;
    background-color: transparent;
    position: relative;
    font-family: raleway, sans-serif;
    line-height: 26px;
    text-align: center;
    z-index: 880;
    font-weight: 400;
    font-size: 16px;
    
}
.max-lines {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6.6em;
  line-height: 1.8em;
}
